/* 
  CSS for the Navbar component.
  A modern, dark theme is used, which is common for developer portfolios.
*/

.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 10px 0px;
  padding: 20px 20px 20px 15px;
  background: #efece5;
  border-style: none;
  font-family: "Outfit", sans-serif; /* A modern font. You may need to import it in your index.html or index.css */
}

.logo {
  width: 150px;
  cursor: pointer;
}
.logo a {
  text-decoration: none;
  color: #2f2f2f; /* Dark color for the logo text */
}

.nav-menu {
  display: flex;
  align-items: right;
  list-style: none;
  gap: 15px;
  font-size: 20px;
}

.nav-item {
  display: flex;
  flex-direction: column;
  gap: 5px;
  color: #353434;
  text-decoration: none; /* In case you change li to a tags */
  cursor: pointer;
  position: relative;
  transition: color 0.3s;
}

.nav-item:hover {
  color: #100505;
}

.nav-item::after {
  content: "";
  width: 0;
  height: 3px;
  background: linear-gradient(267deg, #b6b2ae 0.36%, #100505 102.06%);
  position: absolute;
  left: 0;
  bottom: -6px;
  border-radius: 2px;
  transition: width 0.3s ease-in-out;
}

.nav-item:hover::after {
  width: 100%;
}

.nav-connect {
  padding: 10px;

  background: #000000;
  color: white;
  font-size: 22px;
  font-weight: 500;
  cursor: pointer;
  transition: transform 0.3s ease;
}

.nav-connect:hover {
  transform: scale(1.05);
}

.menu {
  display: flex;
  align-items: center;
  gap: 20px;
}
/* --- Responsive Design --- */

@media (max-width: 1200px) {
  .navbar {
    margin: 20px 120px;
    padding: 20px 60px;
  }
  .nav-menu {
    gap: 50px;
  }
}

@media (max-width: 992px) {
  .navbar {
    margin: 20px 50px;
    padding: 20px 40px;
  }
  .nav-menu {
    gap: 30px;
    font-size: 18px;
  }
  .nav-connect {
    padding: 15px 30px;
    font-size: 20px;
  }
  .logo {
    width: 140px;
  }
}

@media (max-width: 768px) {
  .navbar {
    margin: 20px;
  }
  .nav-menu,
  .nav-connect {
    display: none;
  }
}
